@charset "ISO-8859-1";


body{
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

head{
	margin: auto;
  	padding: auto;
  	text-align: center;
}


